<div class="row">
  <div class="col-md-12">
    <form class="navbar-form navbar-left genre_form">
      <%= form_tag root_path, :method => :get do  |query|%>
        <div class="input-group">
          <button class="btn btn-success buffer-right" type="submit">СЛУЧАЙНЫЙ ФИЛЬМ </button>

          <%= select_tag :selected_g, options_for_select(@all_genres.map{|u| [u[:id],u[:name]]}),{:id=>'genres', multiple: true}%>
        </div>
      <% end %>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3><%= link_to (@random_film.title + " (" + @random_film.year.to_s + ")"), film_path(@random_film) %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4 buffer-top">
    <p><%= link_to image_tag(film_poster(@random_film)), film_path(@random_film) %></p>
    <p>Режиссер: <%= @random_film.director %></p>
    <p>Жанр: <%= @random_film.genre %></p>
  </div>
  <div class="col-md-8">
    <iframe class="buffer-top" width="85%" height="315" src=<%= @trailer %> frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <%= image_tag('kino_logo.png', :class => "logo-img") %>
    </div>
  </div>
</div>

<h1>Фильмы</h1>

<div class="row buffer-bottom">
  <%= render partial: 'films/film', collection: @films %>
</div>


