<div class="row">
  <div class="col-md-12">
    <h1 class="buffer-bottom"><%= @film.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p><%= image_tag film_poster(@film)%></p>
    <% if user_signed_in? %>
      <% unless @film.users.include?(current_user) %>
        <%= render partial: 'film_users/form', locals: {
                    film_user: @new_film_user || film.film_users.build
                } %>
      <% end %>
    <% end %>
    <p>Жанр: <%= @film.genre %></p>
    <p>Режиссер: <%= @film.director %></p>
    <p>Год: <%= @film.year %></p>
  </div>
  <div class="col-md-8">
    <iframe width="560" height="315" src=<%= @trailer %> frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="film-comments buffer-top">

    <%= render partial: 'comments/form', locals: {comment: @new_comment || @film.comments.build} %>

      <div class="buffer-both">
        <%= render partial: 'comments/comment', collection: @film.comments.except(@new_comment) %>
      </div>
    </div>
  </div>
</div>

